@charset "utf-8";
/* 你自己的样式 */
#yw0{
	height:41px;
	width:75px;
}
 label span.required{
    color: red;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: 16px;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 16px;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-size: 16px;
}